[submodule "modules/riscv-tests"]
	path = modules/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "modules/riscv-gnu-toolchain"]
	path = modules/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
