[submodule "modules/riscv-tests"]
	path = modules/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "modules/riscv-gnu-toolchain"]
	path = modules/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
[submodule "modules/iverilog"]
	path = modules/iverilog
	url = https://github.com/steveicarus/iverilog.git
[submodule "modules/qemu"]
	path = modules/qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "modules/yosys"]
	path = modules/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "modules/prjxray"]
	path = modules/prjxray
	url = git@github.com:f4pga/prjxray.git
